body{
    background:white;
}

/*----- navbar -----*/

.bg-light {
    background-color: #3d487d !important;
}

.btn-outline-success {
    border: 2px solid white!important;
    background-color: transparent!important;
    color: white!important;
}

.navbar{
  font-family: 'Anton', sans-serif;
  
}

h1{
    font-family: 'Anton', sans-serif;
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #f8f9fa;
}

.navbar-light .navbar-brand {
   color: #d0bd62;
}


/*___ WT4M picture ___*/

.img-fluid{
    margin-bottom: 1em;
}


/*---- form ----*/


.cyan.darken-3 {
    background-color: #3d808a!important;
}




/*--- links ----*/

/*--- mind logo ----*/
.center-img:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 38%;
  margin-bottom: 2em;
}



/*---  footer ----*/
